body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

  header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 4em 0;
  }

  section {
    padding: 20px;
    margin: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }

  .foto {
    width: 200px;
    border-radius: 15px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #f0f0f0;
  }
  section{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }

 .ooo{
    position: absolute; left: 100px;
    top: 35;
    border-radius: 25px;
    width: 110px;
 }
 .eu{ border-radius: 15px;
    width: 100px;

}